/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    /* background-color: palevioletred; */
    font-family: Arial, Helvetica, sans-serif
}

/* Utils */

.inline-block {
    display: inline-block;
}

button {
    background-color: transparent;
    border: none;
}

/* Header */

.logo-bar {
    background-color: white;
    height: 100px;
    line-height: 100px;
}

.logo {
    height: 80px;
    vertical-align: middle;
    padding: 0 20px;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    vertical-align: middle;
}

/* main */

.option-bar {
    width: 1000px;
    margin: 40px auto 0;
    background-color: white;
    height: 60px;
    border-radius: 10px 10px 0 0;
    line-height: 60px;
    vertical-align: middle;
}

/* buttons */

.btn {
    padding: 5px;
    font-size: 16px;
    background-color: 1px solid currentColor;
    color: gray;
    border-radius: 5px;
}

.btn.btn-primary {
    color: white;
    border: 1px solid #47adf1;
    background-color: #47adf1;
    margin-left: 40px;
}

.btn.btn-secondary {
    color: #b0b4b7;
    border: 1px solid #b0b4b7;
    background-color: transparent;
}

/* card */

.big-bar {
    width: 1000px;
    margin: 5px auto;
    background-color: white;
    color: #41454e;
    height: 600px;
    border-radius: 0 0 10px 10px;
    padding: 30px;    
}

.summary {
    font-size: 40px;
    font-weight: bold;
    /* list-style-type: 25BE; non va! */
}

.item {
    font-size: 25px;
    color: #3b3f48;
    line-height: 25px;
    margin-top: 20px;
}

.mark {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid currentColor;
}

.check {
    color: green;
}

.nope {
    color: red;
}

.label {
    font-size: 15px;
    border-radius: 7px;
    padding: 3px 5px;
    color: white;    
}

.editorial {
    background-color: #45abea;
}

.goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}

/* 
OR, BETTER:
.list-heading {
	margin-top: 25px;
}

.list-heading::before {
	content: '\25BE';
}

.list-item {	
    height: 20px;
	line-height: 20px;
	margin: 10px 0 20px 0;
}
.list-item > * {
	vertical-align: middle;
}
.list-item::before {
	display: inline-block;
	border: 1px solid currentColor;
	font-size: 12px;
	border-radius: 50%;
    width: 20px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
}

.list-item.check::before {
	content: '\2714';
    	color: #61c0a9;
}

.list-item.uncheck::before {
	content: '\2718';
    color: #e7372f;
}
 */