/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f6f8f9; */
    background-color: palevioletred;
    font-family: Arial, Helvetica, sans-serif
}

/* Utils */

.inline-block {
    display: inline-block;
}

/* Header */

.logo-bar {
    background-color: white;
    height: 100px;
    line-height: 100px;
}

.logo {
    height: 80px;
    vertical-align: middle;
    padding: 0 20px;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    vertical-align: middle;
}

/* main */

.option-bar {
    width: 1000px;
    margin: 40px auto 0;
    background-color: white;
    height: 60px;
    border-radius: 10px 10px 0 0;
    line-height: 60px;
    vertical-align: middle;
}

button {
    margin: 0 3px 30px 30px;
    font-size: 16px;
}

.task {
    /* background-color: #47adf1; */
}

.big-bar {
    width: 1000px;
    margin: 5px auto;
    background-color: white;
    height: 1000px;
    border-radius: 0 0 10px 10px;
    padding: 30px;    
}

.summary {
    font-size: 40px;
    font-weight: bold;
}

.item {
    font-size: 25px;
    color: #3b3f48;
    line-height: 25px;
}

.entity {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;

    color: green;
    background-color: yellow; /*aiut*/

}

.A {
    font-size: 20px;
    border-radius: 7px;
    padding: 3px;
    color: white;

    background-color: #45abea;
    
}